.form {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
}

.note {
  margin-bottom: 20px;
  font-size: 12px;
  font-style: italic;
  color: #555;
}
